body {
  background-color: rgb(1, 19, 13);
  color: #fff;
}

// ===============================================
@function convertToRem($px) {
  $val: calc($px / 16);
  @return $val;
}
@function formatFloatingNumber($number) {
  @return round($number * 10000) / 10000;
}
@function clampCal($minSize, $maxSize, $minWidth: 375, $maxWidth: 1199) {
  $minREMsize: convertToRem($minSize);
  $maxREMsize: convertToRem($maxSize);
  $minREMwidth: convertToRem($minWidth);
  $maxREMwidth: convertToRem($maxWidth);

  $slopFontCal: calc($maxREMsize - $minREMsize);
  $slopWidthCal: calc($maxREMwidth - $minREMwidth);

  $slop: calc($slopFontCal / $slopWidthCal);
  // slop done;

  $minusWidth: calc($minREMwidth * -1);
  $xAxisIntersection: calc($minusWidth * $slop + $minREMsize);
  $preferred: calc($slop * 100);

  $xAxisMax: formatFloatingNumber($xAxisIntersection);
  $preferredMax: formatFloatingNumber($preferred);

  @return clamp(
    #{$minREMsize}rem,
    #{$xAxisMax}rem + #{$preferredMax}vw,
    #{$maxREMsize}rem
  );
}

h1 {
  font-size: clampCal(32, 100);
}
